*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
  height: 100%;
    width: 100%;
    
#header{
    width: 100%;
    height:10%;
    background-color: aqua;
}
#page1{
    width: 100%;
    height: 90%;
    background-color: rgb(177, 166, 11);
}